<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Oval Ski Club | FAQ</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!--custom css and bootstrap files are imported below -->
    <link href="../assets/bootstrap.css" rel="stylesheet">
    <link href="../assets/mycustomcss.css" rel="stylesheet">
    <style type="text/css">
      body
      {
      padding-top: 60px;
      padding-bottom: 40px;
      }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

    <!-- Image Banner -->
    <center>
    <img src="../assets/headerImage8.jpg" width="940" height="180" title="A picture from our club holiday in 2007"/>
    <div class="container">
    </center>
    </div>
    <div class="container">
    <hr>
<!-- Frequently asked questions coded using div class containers, hero-units and accordions -->
      <div class="container">
        <div class="hero-unit">
          <center>
          <h2>Frequently Asked Questions</h2>
          <p>Below are some of the common questions we have been asked by members and non-members. If you have a question for us and it is not listed below, then please get in touch. (see our <a href="contact"> contact</a> page for more information).</p>

          <%= form_tag faqs_path, :method => :get do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
            <% end %>

                <%- model_class = Faq -%>
                  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
                </div>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th><%= model_class.human_attribute_name(:title) %></th>
                  <th><%= model_class.human_attribute_name(:body) %></th>
                  <th><%=t '.actions', :default => t("helpers.actions") %></th>
                </tr>
              </thead>
              <tbody>
                <% @faqs.each do |faq| %>
                <tr>
                  <td><%= faq.title %></td>
                  <td><%= faq.body %></td>
                  <td><%=l faq.created_at %></td>
                  <td>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_faq_path(faq), :class => 'btn btn-mini' %>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    faq_path(faq),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-mini btn-danger' %>
                  </td>
                </tr>
                <% end %>
              </tbody>
          </table>

          <center>
            <%= link_to t('.new', :default => t("helpers.links.create new question")),
            new_faq_path,
            :class => 'btn btn-primary' %>
          </center>
          <hr>
          <footer>

      <!-- Links to Facebook and Twitter -->
      <center>&copy; Oval Ski Club 2013 &nbsp</center>
      <a href="http://www.facebook.com/group.php?gid=2256597544"><img src="../assets/facebooklogo.png" width="55" height="25" title="Like us on Facebook"><a href="https://twitter.com/OvalSki"><img src="../assets/twitter.png" width="55" height="25" title="Follow us on Twitter"></a></a>
      </footer>
    </div>

      <%= yield %>

    <script text/javascript src="../assets/jquery-1.8.2.min.js"></script>
<script text/javascript src="../assets/bootstrap.min.js"></script>
<script>
$(function(){
$('.dropdown-toggle').dropdown();
$('.dropdown input, .dropdown label').click(function (e) {
e.stopPropagation();
});
});
</script>


<%=yield%>

</body>
</html>