<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!--custom css and bootstrap files are imported below -->
    <link href="../assets/bootstrap.css" rel="stylesheet">
    <link href="../assets/mycustomcss.css" rel="stylesheet">
    <style type="text/css">
    body
    {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <!-- Navigation Bar Code-->
  <body>
    <div id="navigation">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="../welcome/index" >OSC</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="../welcome/about" >About Us</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Join In <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="../welcome/sessions" >Club Sessions</a></li>
                    <li><a href="../welcome/holidays" >Club Holidays</a></li>
                    <li><a href="../welcome/social" >Social Activities</a></li>
                    <li><a href="../welcome/racing" >Racing Team</a></li>
                    <li><a href="../events" >Events</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Information <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="../faqs" >FAQ</a></li>
                    <li><a href="../welcome/contact" >Contact Us</a></li>
                  </ul>
                  <li><a href="../announcements" >Announcements</a></li>
                </li>
              </div>
            </ul>
          </li>
        </ul>

        <!-- Navigation Bar Login Form -->
        <form class="navbar-form pull-right">
          <p>
            <a class="btn btn-info" href="../login" type="button">Login</a>
            <a class="btn btn-info" href="../authors/new" type="button">Register</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<p class="flash">
    <%= flash.notice %>
  </p>
  <div id="container">
    <div id="content">
      <%= yield %>
      <hr>
      <h6>
        <% if logged_in? %>
          <%= "Logged in as #{current_user.username}" %>
        <% else %>
          Logged out
        <% end %>
      </h6>
    </div>
  </div>

<script text/javascript src="../assets/jquery-1.8.2.min.js"></script>
<script text/javascript src="../assets/bootstrap.min.js"></script>
<script>
$(function(){
  $('.dropdown-toggle').dropdown();
  $('.dropdown input, .dropdown label').click(function (e) {
    e.stopPropagation();
  });
});
</script>
</body>
</html>
